nav{
    display: flex;
    justify-content: space-between;
    width: auto;
}

h2{
    text-align: center;
}

.Links{
    display: flex;
    justify-content: space-evenly;
}

Link{
    padding: 0 2rem 0 2rem;
    text-align: center;
}

button{
    font-size: larger;
    height: fit-content;
    align-self: center;
    margin: 0 2rem 0 2rem;
    background-color: white;
    border-width: 0.2rem;
    border-radius: 0.5rem;
}